<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/app.css' %}">  
    <title>Thereads APP</title>
</head>
<body>
    <header>
    <h1>Threads APP</h1>
    <nav>
        <ul>
            <li><a href="/threads">Inicio</a></li>
            <li><a href="/tags">Etiquetas</a></li>
            <li><a href="/categories">Categorias</a></li>
            <li><a href="/votes">Lo más votado</a></li>
        </ul>   
    </nav>
    </header>
    <main>
        {% block content %}

        {% endblock %}
    </body>
</html>
