<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %} {% endblock %}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="shortcut icon" href="{% static 'img/dc.png' %}" type="image/png">  
    <title>Thereads APP</title>
</head>
<body>
    <header>
    <h1>Threads APP</h1>
    <nav>
        <ul>
            <li><a href="/threads">Home</a></li>
            <li><a href="/user">Mi perfil</a></li>
            <li><a href="/votes">Popular</a></li>
        </ul>   
    </nav>
    <form class='as_div'>
        <input type="text" class="input__text-buscar" name="search" placeholder="Buscar">
        <button type="submit" class="button-primary">Buscar</button>
    </form>
    </header>
    <h1>{% block title %} {% endblock %}</h1>
    <main>
        {% block content %}

        {% endblock %}
    </body>
</html>
