<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %} {% endblock %}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="shortcut icon" href="{% static 'img/dc.png' %}" type="image/png">  
    <title>Thereads APP</title>
</head>
<body>
    <header>
    <h1 class="brand">Threads APP</h1>
    <nav>
        <ul>
            <li><a href="/threads"><i class="icon i-home" aria-label="Home"></i> Home</a></li>
            <li ><a href="/profile/1"><i class="icon i-user" aria-label="user"></i>Mi perfil</a></li>
            <li ><a href="/votes"><i class="icon i-show" aria-label="show"></i>Popular</a></li>
        </ul>   
    </nav>
    <form class='as_div'>
        <input type="text" class="input__text-buscar" name="search" placeholder="Buscar">
        <button type="submit" class="button-primary">Buscar</button>
    </form>
    </header>
    <h1>{% block title %} {% endblock %}</h1>
   
        {% block content %}

        {% endblock %}

    <footer>    
        <p>Desarrolladores <a href="https://github.com/drwnDrDev">Darwin Diaz</a><a href="https://github.com/FotoAleph">Carlos ramirez</a></p>  
    </footer>
    </body>
</html>
