{% extends 'layouts/guest.html'%}
{% block title %}Contacto{% endblock %}
{% block description %}Conecta no nosotros siempre queremos saber que pasa del otro lado de la pantalla{% endblock %}
{% block content %}
<h1>Contacto</h1>
    <p>{{message}}</p>
    <main>
        <section>
            <h2>Información de contacto</h2>
            <p>Correo: {{darwin.email}}</p>
            <p>Teléfono: {{darwin.phone}}</p>
        </section>
        <section>
            <h2>Información de contacto</h2>
            <p>Correo: {{carlos.email}}</p>
            <p>Teléfono: {{carlos.phone}}</p>
        </section>
    </main>
{% endblock %}