
html{

    font-family: system-ui, Ubuntu, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,  Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
textarea {
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
.form__create{
    display: grid;
    justify-content: center;
    justify-items: center;
    margin: auto;
}
.textarea {
    padding: 1rem;
    width: 600px;
    max-width: 100%;
    font-weight: 400;
    font-size: large;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
  }
  
.create__label {
    display: block;
    font-size: xx-large;
    padding: 2rem;
    margin:auto 1rem;
}

header {
    color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-color);

}


nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around; 
 
}
nav li{
    list-style:  none;
}
nav a { 
    padding: 0.8rem;
    background-color: var(--secondary-color);
    text-decoration: none;
}
nav a:hover {
    background-color: var(--accent-color);   
}
header {
    color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-color);

}


nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around; 
 
}
nav li{
    list-style:  none;
}
nav a { 
    padding: 0.8rem;
    background-color: var(--secondary-color);
    text-decoration: none;
}
nav a:hover {
    background-color: var(--accent-color);   
}
.button-primary {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight: 600;
    text-transform: uppercase;
    max-width: 8rem;
    height: 3rem;
    padding: 1rem;
    border-radius: 1rem;
}
.button-primary p{
    text-wrap: pretty;
}
.button-primary:hover{
    background-color: var(--tertiary-color);
}
.create__buttom{
 padding: 2rem;
 filter: brightness(0.8);
}

.input__text-buscar {
    padding: 1rem;
    width: 8rem;
    max-width: 100%;
    font-weight: 400;
    border-radius: 5px;

  }
.thread__h2 {
    margin-bottom: 0;
}
.thread__div {
    margin-top: -1rem;
    font-size: smaller;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;

}
.thread__div--p{
    display: flex;
    gap: 0.1rem;
    font-size: smaller;
}
.row {
    text-decoration: none;
    padding: 1rem;
    background-color: #cccccc73;
    color: black;
    text-transform: capitalize;
    font-size: large;
    display: grid;
    grid-template-columns:auto auto auto;
    margin: 1rem 1rem;
    border-radius: 2rem;
}
.description{
    display: flex;
    opacity: 0.8;
}
.row__p{
    
    padding: 0.5rem;
}
.titulo {
    font-weight: bold;
    grid-column:1/ span 3;
}
.cabecera{
    display: none;
}
.post {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    padding: 1rem;
    margin:1rem auto;
    background-color: rgba(100, 100, 100, 0.2);
}
.content {
    padding: 0.8rem;
    font-size: large;
    grid-column: 1/ span 4;

} 

.votes{
    display: grid;
    grid-template-columns: auto auto;
    font-size: small;
}

.post__p--a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fecha {
    font-size: small;
    display: flex;
}
@media (min-width: 640px){
.row {
    grid-template-columns:4fr 1fr 1fr;
}
.titulo {
    grid-column:1/ span 1;
}
.cabecera{
    display: grid;
    grid-template-columns:4fr 1fr 1fr;
}
.post {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    padding: 1rem;
    margin:0 auto;
} 
.post__p {
    margin-top: -0.5rem;
    width: 100%;
    display: flex;
    opacity: 0.89;
    flex-wrap: wrap;
    font-size: smaller;
    gap: 1px;
}
}
@media (prefers-color-scheme: light) {
    body{
        background-color: var(--accent-color);
    }

}