html {
    max-width: 100%;
    font-size: 16px;
    font-family: "Fira Sans", sans-serif;
    color: var(--primary-color);
    border-radius: 1rem;
}

main {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
}

.section__brand {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.section__brand--container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__brand--container img {
    width: 42%;
}

.section__brand--container h2 {
    width: 48;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
    color: var(--accent-color);
    flex-direction: column;
    justify-content: center;
}

.section__login {
    background-color: var(--primary-color);
    padding: 1rem;
    width: 100%;
    display: flex;
}


input {
    height: 2rem;
    border-radius: 0.5rem;
}

.form__login {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

.form__login--right {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: auto 6rem;
    justify-content: right;
}
.menu {
    width: 100%;
    right: 4rem;
    padding: 1rem;
    z-index: 40;
    border-radius: 1rem;
    background-color: var(--primary-color);
    font-weight: 600;
}

.menu a {
    display: flex;
    align-items: center;
    gap:min(2%,0.4rem);
    text-decoration: none;
    text-transform: capitalize;
    color: var(--accent-color);
    width: 100%;
    border-bottom-right-radius: 1rem;
    padding:0.8rem;
    margin:0 auto;
}
.menu a:hover {
    color: var(--primary-color)
}


.pop-up__list--item {

    width: 100%;  
    color: var(--accent-color); 
    list-style:none;
    transition: all 0.5s ease-out;
}

.pop-up__list--item:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
}

.section__login h2 {
    text-align: center;
    padding: 1rem;
    color: var(--accent-color);
    opacity: 0.85;
}

@media (min-width: 640px) {
    main {
        background-image: url(../img/01.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .section__brand {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 44%;
        padding: 2rem;
        border-radius: 1rem;
        background-color: var(--primary-color);
    }

    .section__login {
        width: min(320px, 48%);
        display: flex;
        border-radius: 2rem;
        background-color: rgba(255, 255, 255, 0.4);
        color: var(--primary-color);
        -webkit-backdrop-filter: blur(22px);
        backdrop-filter: blur(21px);

    }
    .menu {
        width: 16rem;
        position: absolute;
        top: 4rem;
        right: 4rem;
        padding: 1rem;
        z-index: 40;
        border-radius: 1rem;
        background-color: var(--primary-color);
        font-weight: 600;
    }

}

@media (prefers-color-scheme: light) {
    body {
        background-color: azure;
    }

    .section__brand {
        background-color: var(--accent-color);
        background: linear-gradient(164.67deg, rgba(255, 255, 255, 0.4) -38.72%, rgba(255, 255, 255, 0) 109.8%);
    }
    .section__brand--container h2{
        color: var(--primary-color);
    }
    .section__login h2 {
        color: var(--primary-color);
    }
}