:root {
    --primary-color: hsl(186, 100%, 14%);
    --secondary-color: hsl(186, 94%, 42%);
    --tertiary-color: hsl(276, 100%, 14%); /* Color complementario */
    --accent-color: hsl(186, 50%, 80%); /* Tono más claro del color primario */
    --background-dark:rgb(33, 33, 33);
  }
html{
    
    font-weight: 300;
    font-style: normal;
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--background-dark);
    max-width: 100%;
}

header {
    color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-color);

}

nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around; 
 
}
nav li{
    list-style:  none;
}
nav a { 
    padding: 0.8rem;
    border-radius: 1rem;
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
    text-decoration: none;
}
nav a:hover {
    background-color: var(--accent-color);   
}

.button-primary {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight: 600;
    text-transform: uppercase;
    max-width: 8rem;
    height: 3rem;
    padding: 1rem;
    border-radius: 1rem;
}
.button-primary p{
    text-wrap: pretty;
}
.button-primary:hover{
    background-color: var(--tertiary-color);
}
.create__buttom{
 padding: 2rem;
 filter: brightness(0.8);
}

@media (min-width: 640px){

}
@media (prefers-color-scheme: light) {
    body{
        background-color: azure;
    }

}