{% extends 'layouts/guest.html'%}
{% block title %}Tratamiento de datos{% endblock %}
{% block description %}Politica de tratamiento de datos{% endblock %}
{% block content %}
    <h1>Tratamiento de datos</h1>
    <ol>
        <li>Esta aplicación es de uso estrictamente pedagogica los datos que se capturen durante su uso seran borrados periodicametne</li>
        <li>Se mezclaran con datos de prueba y datos de control</li>
        <li>Los datos seran almacendos siguindo estricos protocolos de seguridad</li>
        <li>Las contraseñas se encriptaran y no seran visibles o accesibles desde la base de datos</li>
        <li>Se aconcejan no incluir dataos personales como contraseñas que uses en otras aplicacions o datos de contacto muy espesificos</li>
        <li>Si tienes alguna duda o inquietud sobre el tratamiento de tus datos puedes contactarnos en el siguiente enlace <a href="/contact">Contacto</a></li>
    </ol>
{% endblock %}